.main-footer {
    opacity:0.8;
    padding-top: 2%;
    text-align: center;
    width: 100%; 
    background-color: #f0ffff4b;

    
}


.img-contact{
    padding-right: 8px;
    vertical-align: middle;
    height: 50px;
}



.col {
padding: 0% 0% 1% 1%;
    display: block;
}

.footer-about-me {
    color: black;
}
.a-contact{
    color: black;
}


