.pokemons-cards {
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 100%;
    position: relative;
    background-color: rgba(73, 73, 75, 0.089);
  }
  
  img {
    height: 200px;
    border-radius: 10px;
  } 