.container-pokemon {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: calc(87.7vh - 189px);
}

.pokemon-detail{
    background-color: rgba(158, 107, 107, 0.747);
    height: 500px;
    width:  300px;
    border: 2px solid black;
    border-radius: 8px; 
}

.pokemon-detail img{
    height: 250px;
}

.pokemon-body{
    justify-content: center;


    display: inline-flex;
    flex-wrap: wrap;

}